[submodule ".\\CSC126 FINAL PROJECT\\Vendor\\imgui"]
	path = .\\CSC126 FINAL PROJECT\\Vendor\\imgui
	url = https://github.com/ocornut/imgui.git
[submodule ".\\CSC126 FINAL PROJECT\\Vendor\\json"]
	path = .\\CSC126 FINAL PROJECT\\Vendor\\json
	url = https://github.com/nlohmann/json.git
[submodule "CSC126 FINAL PROJECT/Vendor/json"]
	path = CSC126 FINAL PROJECT/Vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "CSC126 FINAL PROJECT/Vendor/imgui"]
	path = CSC126 FINAL PROJECT/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
